

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.mentions {
  width: 50%;
  margin-bottom: 20px;
}

.form {
  width: 50%;
}
.ant-mentions .rc-textarea {
    color: #1677ff !important; /* Set the background color of the textarea */
}